{% macro renderDivBox(content="", customClass="", id="") %}
  <div {% if id %}id="{{ id }}"{% endif %} class="bem-div bem-div__box {{ customClass }}">
    {{ content | markdown | safe }}
  </div>
{% endmacro %}
