{% from "bricks/shared/atoms.njk" import renderImage %}

{% macro renderLogo(type="image", text="MIỀN TỊNH THỔ", url="/") %}
  {% if type == "image" %}
    <a href="{{ url }}" class="bem-logo-link">
      {{ renderImage(
        src="/assets/img/logo.svg",
        alt=text,
        title=text,
        class="bem-logo-img",
        loading="eager"
      ) }}
    </a>
  {% else %}
    <a href="{{ url }}" class="bem-logo-text">{{ text }}</a>
  {% endif %}
{% endmacro %}

{% macro renderTrigger(iconType, eventName, customClass="") %}
  <button @click="$dispatch('{{ eventName }}')" type="button" class="bem-icon-trigger {{ customClass }}">
    {% if iconType == "menu" %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    {% elif iconType == "search" %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[16px] h-[16px]">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5zM15.25 15.25L20 20" />
      </svg>
    {% elif iconType == "close" %}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    {% endif %}
  </button>
{% endmacro %}
